version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: palve-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - web
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: palve-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - web
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: palve-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - web
    restart: always

volumes:
  mongo_data:

networks:
  web:
    external: true
