version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: palve-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - web
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: palve-frontend
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - web
    depends_on:
      - backend
    restart: always

networks:
  web:
    external: true